.nav{
 
    background-color: #1c2834;
    display: flex;
    height: 10vh;
    justify-content: start;
    gap: 2vw;
}
li{
    display: flex;
    margin-left: 11vw;
    cursor: pointer;
    
}
ul{
    background-color: #1c2834;
    color: #f8f9fa;
    padding-right: 88px;
    padding-top: 18px;
font-size: 1.2rem;
}
    
.nav__name{
    padding: 1px;
    color:#f8f9fa ;
}